.TextMessage{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    padding: 10px;
    padding-left:12px;
    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);
    z-index: 1000;
}
.TextMessage_p{
    margin: 0;
    font-size: 12px;
}
.TextMessage span{
    opacity: 0;
}
.TextMessage span.revealed{
    opacity: 1;
}
.TextMessage_button{
    margin: 0;
    padding: 0;
    font-size: 9px;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    position: absolute;
    right: 7px;
    bottom: 3px;
}
.TextMessage_big{
    height: 80px;
}
.TextMessage_big > img{
    height: 50px;
    width: 50px;
    background: var(--menu-border-color);
    float: left;
    border: 1px solid var(--menu-font-color);
}
.npc_title{
    display: block;
    opacity: 1 !important;
    padding-left: 12.5px;
    font-size: 12px;
}
.TextMessage_big > p {
    padding-top: 17px;
   padding-left: 60px;
}